<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Error</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript">
      {% include 'redirect.js' %}
    </script>
    <style>
      table, th {
      border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h3>Error</h3>
    {{ error }}
    {% include 'form.html' %}
  </body>
</html>
