<div class="navbar">
  <div class="sub_navbar">
    <form action="#" onsubmit="return redirect();">
      <h2>Display a level:</h2>
      <input type="text" class="number" id="l" value="{{ level }}"/>
      <input type="submit" value="Go" />
      <br />
      Options:<br/>
      <input type="checkbox" id="by_place" {{ by_place }} />
      <label for="by_place">By place</label>
      <input type="checkbox" id="avg" {{ avg }} />
      <label for="avg">Show average score</label>
      <br />
      <input type="checkbox" id="diff" {{ diff }} />
      <label for="diff">Show 19th to 0th difference</label>
      <br />
      <label for="top">Show top: </label>
      <input type="text" class="number" id="top" value="{{ top }}" />
    </form>
  </div>
    <div class="sub_navbar">
    <form action="/all_scores" method="get">
      <h2>Past scores for a level:</h2>
      <input type="text" class="number" name="level" value="{{ level }}"/>
      <input type="submit" value="Go" />
    </form>
  </div>
  <div class="sub_navbar">
    <form action="#" onsubmit="return redirect_player();">
      <h2>Display a player:</h2>
      <input type="text" id="player" value="{{ pseudo }}">
      <input type="submit" value="Go" />
    </form>
  </div>
  <div class="sub_navbar">
    <h2><a href="/stats">Stats Page</a></h2>
  </div>
  <div class="sub_navbar">
    <div>
      <h2><a href="/new">New scores</a></h2>
    </div>
  </div>
  <div class="sub_navbar">
    <h2><a href="/latest0th">Latest 0th</a></h2>
  </div>
</div>
