<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ pseudo }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript">
      {% include 'redirect.js' %}
    </script>
  </head>
  <body>
    {% include 'form.html' %}
    {% if pseudo %}
    <h2>{{ pseudo }}</h2>
    <ul>
      <li>First top 20 scores: <b>{{ first_top_20_timestamp }} {% if first_top_20 %} {{ first_top_20 }} {% endif %}</b></li>
      <li>First 0ths: <b>{{ first_0th_timestamp }} {% if first_0th %} {{ first_0th }} {% endif %}</b></li>
      {% if diff_top20_0th %}<li>It took this player <b>{{ diff_top20_0th }}</b> days to go from top 20 to 0th</li>{% endif %}
      <li>Number of 0th on distinct levels (after 2006): {{ nb_0th }}</li>
      <li>Number of top-20 on distinct levels (after 2006): {{ nb_top20 }}</li>
    </ul>
    {% else %}
    <h2>Player not found</h2>
    {% endif %}
    {% include 'source.html' %}
  </body>
</html>
