body {
    font-family: sans-serif;
    background: #eee;
}
a, h1, h2 {
    color: #377ba8;
}
h1, h2 {
    font-family: 'Georgia', sans-serif;
    margin: 0;
}
h1 {
    border-bottom: 10px solid #eee;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
h2 {
    font-size: 1.2em;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
.navbar {
    padding: 0px;
    text-align: center;
    border: 0px solid #42432d;
    //background: #ccc;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.sub_navbar {
    margin: 5px;
    padding: 5px;
    border:1px solid #42432d;
    background: #eee;
    display: flex;
    align-items: center;
}
.sub_navbar a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.sub_navbar:hover {
    background:#E0E0E0;
}
.source {
    margin: 10px;
    float:right;
    font-size: 0.6em;
}
.number {
    width:40px;
}
.demo {
    width: 100%;
    height: 200px;
}
