<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>History of all scores in level {{ level }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      {% include 'redirect.js' %}
    </script>
    <style>
      table, th {
      border: 1px solid black;
      }
      .center {
      text-align:center;
      vertical-align:middle;
      }
    </style>
  </head>
  <body>
    <h1>History of all scores in level {{ level }}</h1>
    <table class="center">
      <tr>
	<th>Date</th>
	<th>Place</th>
	<th>Player</th>
	<th>Original place</th>
      </tr>
      {{ table|safe }}
    </table>
    <h2>Filter by player:</h2>
    <form action="" method="get">
      <input type="hidden" name="level" value="{{ level }}" />
      <input type="text" name="player" />
      <input type="submit" value="Go" />
    </form>
    <h2>Filter by place:</h2>
    <form action="" method="get">
      <input type="hidden" name="level" value="{{ level }}" />
      <input type="text" name="place" />
      <input type="submit" value="Go" />
    </form>
    {% include 'form.html' %}
  </body>
</html>
