<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>A History of Top-20 Highscorers</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      function redirect() {
      var by_place = "";
      var avg = "";
      var top_opt = "";
      if ($("#by_place").is(':checked')) {
	by_place = "&by_place=1"
      }
      if ($("#avg").is(':checked')) {
	avg = "&avg=1"
      }
      if ($("#diff").is(':checked')) {
        diff = "&diff=1";
        avg = "";
        by_place = "";
        top_opt = "";
      }
      var topn = $('#top').val();
      if (topn < 20)
        top_opt = "&top=" + topn;
      this.location='/level?level=' + $('#l').val() + by_place + avg + top_opt + diff;
      return false;
      }
    </script>
    <style type="text/css">
      ${demo.css}
    </style>
    <script type="text/javascript">
      $(function () {
      $('#container').highcharts({
      chart: {
      type: 'spline',
      zoomType: 'x,y'
      },
      plotOptions: {
      spline: {
      marker: {
      enabled: false
      }
      }
      },
      title: {
      text: 'A History of Top-20 Highscorers',
      x: -20 //center
      },
      subtitle: {
      text: 'Source: NHigh, Highscore Ranking Threads',
      x: -20
      },
      xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { // don't display the dummy year
      year: '%Y',
      month: '%b %Y',
      day: '%e. %b %Y',
      },
      title: {
      text: 'Date'
      }
      },
      yAxis: {
      title: {
      text: 'Number of Top-20 Highscores'
      },
      plotLines: [{
      value: 0,
      width: 1,
      color: '#808080'
      }]
      },
      legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
      },
      series: [{{ series|safe }}]
      });
      });
    </script>
  </head>
  <body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="height: 800px;"></div>
    Display a level:
    <form action="#" onsubmit="return redirect();">
      <input type="text" id="l" value="{{ level }}"/>
      <input type="submit" value="Go" />
      <br />
      <input type="checkbox" id="by_place" {{ by_place }} />
      <label for="by_place">By place</label>
      <input type="checkbox" id="avg" {{ avg }} />
      <label for="avg">Show average score</label>
      <br />
      <input type="text" id="top" value="{{ top }}" />
      <label for="avg">Show top: </label>
      <br />Special options: <br />
      <label for="diff">Show 19th to 0th difference</label>
      <input type="checkbox" id="diff" {{ diff }} />
    </form>
  </body>
</html>
