<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Latest top-20 scores</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      {% include 'redirect.js' %}
    </script>
    <style>
      table, th {
      border: 1px solid black;
      }
      .center {
      text-align:center;
      vertical-align:middle;
      }
    </style>
  </head>
  <body>
    <h2>New top-20 scores (last 24 hours)</h2>
    <table class="center">
      <tr>
	<th>Date</th>
	<th>Level</th>
	<th>Player</th>
	<th>Place</th>
	<th>Score</th>
      </tr>
      {{ table|safe }}
    </table>
    {% include 'form.html' %}
  </body>
</html>
