<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>A History of Top-20 Highscorers</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      {% include 'redirect.js' %}
    </script>
  </head>
  <body>
    {% if pseudo %}
    <h2>{{ pseudo }}</h2>
    <ul>
      <li>First top 20 scores: <b>{{ first_top_20_timestamp }} {% if first_top_20 %} {{ first_top_20 }} {% endif %}</b></li>
      <li>First 0ths: <b>{{ first_0th_timestamp }} {% if first_0th %} {{ first_0th }} {% endif %}</b></li>
      {% if diff_top20_0th %}<li>It took this player <b>{{ diff_top20_0th }}</b> days to go from top 20 to 0th</li>{% endif %}
    </ul>
    {% else %}
    <h2>Player not found</h2>
    {% endif %}
    {% include 'form.html' %}
  </body>
</html>
