<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>A History of Top-20 Highscorers</title>
  </head>
  <body>
    {% if pseudo %}
    <h1>{{ pseudo }}</h1>
    <ul>
      <li>First top 20 scores: <b>{{ first_top_20_timestamp }} {% if first_top_20 %} {{ first_top_20 }} {% endif %}</b></li>
      <li>First 0ths: <b>{{ first_0th_timestamp }} {% if first_0th %} {{ first_0th }} {% endif %}</b></li>
      <li></li>
    </ul>
    {% else %}
    <h1>Player not found</h1>    
    {% endif %}
  </body>
</html>
