<div class="update-line">
  <span class="update-date">2025-10 update:</span>
  <ul>
    <li>fixed some demos being missing</li>
    <li>Fix order of scores on ties (order by date, then place)</li>
  </ul>
</div>
<div class="update-line">
  <span class="update-date">Note:</span> This archive contains demo from all cheaters (but not hackers), excluding those excluded by default by NHigh (notably, kryX-orange). Todo:
  <ul>
    <li>mark cheaters and cheated runs as such</li>
    <li>Retrieve all kryX-orange runs (it's an archive, after all)</li>
  </ul>
</div>
